<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактировать</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
    <form class="add-form" method="post" action="/Parts-List/all">
        <b>Редактировать</b><br>
        <input type="hidden" name="id" th:value="${id}"/>
        <input type="text" name="name" placeholder="Наименование" th:value="${name}"/>
        Необходимость<input type="checkbox" name="need" th:checked="${need}"/>
        Количество<input class="count-input" type="number" name="count" min="0" th:value="${count}"/>
        <button type="submit">Применить</button>
    </form>
</body>
</html>