<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PARTS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table border="1">
        <caption>Список деталей для сборки компьютеров на складе</caption>
        <tr>
            <td><a th:href="@{/Parts-List/all(find=${find}, need=${need}, sort='nameUp')}"><b>D</b></a><a th:href="@{/Parts-List/all(find=${find}, need=${need}, sort='nameDown')}"><b>U</b></a><b>Наименование</b></td>
            <td><b>Необходимость</b></td>
            <td><a th:href="@{/Parts-List/all(find=${find}, need=${need}, sort='countUp')}"><b>D</b></a><a th:href="@{/Parts-List/all(find=${find}, need=${need}, sort='countDown')}"><b>U</b></a><b>Количество</b></td>
            <td><b>Редактировать</b></td>
            <td><b>Удалить</b></td>
        </tr>
        <tr th:each="part : ${parts}">
            <td th:text="${part.name}"></td>
            <td th:text="${part.need} ? 'Да' : 'Нет'"></td>
            <td th:text="${part.count}"></td>
            <td><a th:href="@{/Parts-List/edit(id=${part.id})}"><b>Редактировать</b></a></td>
            <td><a th:href="@{/Parts-List/all(id=${part.id})}"><b>Удалить</b></a></td>
        </tr>
        <tr class="emptyRow"></tr>
        <tr>
            <td>Можно собрать</td>
            <td th:text="${n}"></td>
            <td>компьютеров.</td>
        </tr>
    </table>
    <div>Страницы:
        <tr th:each="page : ${pages}">
            <td><a th:href="@{/Parts-List/all(find=${find}, need=${need}, page=${page})}"><b th:text="${page}"></b></a></td>
        </tr>
    </div>
    <form method="get" action="/Parts-List/all">
        <input type="text" name="find" placeholder="Поиск по названию" th:value="${find}"/>
        <button type="submit">Поиск</button>
        <select name="need">
            <option value="all" th:selected="${selectedAll}">Все</option>
            <option value="y" th:selected="${selectedY}">Необходимые</option>
            <option value="n" th:selected="${selectedN}">Необязательные</option>
        </select>
    </form>
    <form method="post" action="add">
        <input type="text" name="addName" placeholder="Наименование"/>
        <input type="checkbox" name="addNeed"/>
        <input type="number" name="addCount" min="0"/>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>